html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif; /* Añade estilos de fuente según tus necesidades */
    /*overflow: hidden;  Evita barras de desplazamiento vertical por defecto */
}


/* Estilos del encabezado */
header {
    /* Agrega estilos según sea necesario */
}

/* Estilos del logo */
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;

}


main{
    display: grid;
    grid-template-columns: repeat(2, 50%);

    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 4px;

}

#textEntrada, #textSalida{

    border-radius: 10px;
    padding: 6px;
}

.text-area{
    font-family: 'Inter';
    width: 375px;
    height: 265px;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-top: 20px;
    padding: 20px 20px;
    margin-left: 80px;
    text-transform: lowercase;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

::placeholder {color: #0a3871; }
.text-area:focus{
    outline: none;
}

.informacion {
    margin-top: 70px;
    margin-bottom: 10px;
    color: #495057;
    font-size: 13px;
    /* Agrega estilos según sea necesario */
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar,
.btn-desencriptar {
    font-family: 'Inter';
    border: 1px solid #0a3871;
    border-radius: 24px;
    height: 67px;
    width: 328px;
    cursor: pointer;
    margin-left: 10px;
    /* Estilos comunes para ambos botones */
}

.btn-desencriptar{ 
    background-color: #d8dfe8;
    color: #0a3871;
  
}
.btn-desencriptar:active{
    transform: translateY(4px);
}
.btn-encriptar{
    background-color: #0a3871;
    color: white;
}

.btn-encriptar:active{
    transform: translateY(4px);
}


.mensaje {
    font-family: 'Inter';
    height: 371px;
    width: 300px;
    background: url("https://dillandb.github.io/portafolio./imagen/dibujo.png") center/contain no-repeat white;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 150px;
    margin-top: 20px;
    padding: 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .mensaje:focus {
    outline: none;
  }
  
.btn-copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 170px;
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-copiar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-copiar:active{
    transform: translateY(4px);
}




@media screen and (max-width: 1200px) {
    /* Estilos para pantallas más pequeñas */
    .text-area{
        margin-left: 8%;
    } 
    .mensaje{
        margin-left: 8%;
    }
    .btn-copiar{  
        width: 250px;
        margin-left: 19%;
    }
    
    
}
@media screen and (max-width: 940px) {
    /* Estilos para pantallas más pequeñas */
    .text-area{
        width: 300px;
        margin-left: 8%;
    }.mensaje{
        margin-left: 7%;
        height: 370px;
        width: 290px;
    }
    .btn-copiar{
        width: 200px;
        margin-left: 25%;
    }
}


@media screen and (max-width: 839px) {
    /* Estilos para pantallas más pequeñas */
    main {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    
    }
    .informacion{
        display: none;
    }
    .text-area{
        width: 70%;
        margin-left: 10%;
    } 
    .mensaje{
        width: 75%;
        height: 15px;
        margin-left: 6%;
    }
    .btn-encriptar,.btn-desencriptar{
        width: 70%;
    }
    .btn-copiar{
        width: 100PX;
        height: 30px;
        margin-left: 33%;
        
    }
}
